
:root {

  --default-text-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --default-code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --default-text-size: 1.25rem;
  --default-text-weight: 400;
  
  /*--default-headings-weight: calc(var(--default-text-weight) + 100);*/
  --default-headings-weight: var(--default-text-weight);

  --default-line-height: 1.5;

  --default-text-color: #000;
  --default-text-background-color: #FFF7E8;
  --default-code-color: #000;
  --default-code-background-color: #EADAB9;
  --default-quote-color: #643B47;
  /*--default-quote-background-color: #EADAB9;*/
  --default-border-color: #AD8D18;

}

main {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--default-border-color);
}

body,
h1, h2, h3, h4, h5, h6, hr,
p, blockquote, pre, code,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, hr,
p, blockquote, pre, code {
  margin-bottom: 1rem;
}

body {
  font-family: var(--default-text-font);
  font-size: var(--default-text-size);
  font-weight: var(--default-text-weight);
  line-height: var(--default-line-height);
  color: var(--default-text-color);
  background-color: var(--default-text-background-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--default-headings-weight);
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hr {
  color: var(--default-border-color);
  border: 0;
  border-top: 1px solid;
}

blockquote {
  color: var(--default-quote-color);
  border-left: 4px solid var(--default-border-color);
  padding-left: 1rem;
  font-style: italic;
}

pre,
code {
  font-family: var(--default-code-font);
  font-size: 0.9375em;
  border: 1px solid var(--default-border-color);
  border-radius: 3px;
  color: var(--default-code-color);
  background-color: var(--default-code-background-color);
}

ol,
ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}



b,
strong {
  font-weight: bolder;
}



pre,
code,
kbd,
samp {
  font-family: var(--default-code-font);
  font-size: 1em;
}