
.site-header {
  border-top: var(--default-border-size-bold) solid var(--default-text-color);
  border-bottom: var(--default-border-size) solid var(--default-border-color);
}

.site-footer {
  border-top: var(--default-border-size) solid var(--default-border-color);
}

.site-wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.site-nav {
  position: absolute;
  top: calc(var(--default-border-size-bold) + 1px);
  right: 1px;
  background-color: var(--default-text-background-color);
  border: var(--default-border-size) solid var(--default-border-color);
  border-radius: var(--default-border-radius);
  text-align: right;

  .site-nav-trigger {
    display: none;
  }

  label[for="site-nav-trigger"] {
    z-index: 2;
    cursor: pointer;
  }

  .site-nav-menu-icon {

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    > svg path {
      fill: var(--default-text-color);
    }
  }

  input ~ .site-nav-menu {
    clear: both;
    display: none;
  }

  input:checked ~ .site-nav-menu {
    display: block;
  }

  .page-link {
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 1200px) {

    position: static;
    float: right;
    border: 0;

    label[for="site-nav-trigger"] {
      display: none;
    }

    .site-nav-menu-icon {
      display: none;
    }

    input ~ .site-nav-menu {
      display: block;
    }

    .page-link {
      display: inline;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      margin-left: auto;
      margin-right: 0;
    }
  }
}